<h3>View User Details</h3> 

<hr/>
<div>
  <div>
    <label><b>UserName: </b></label> {{user.userName}}
  </div>
  <div>
    <label><b>Password: </b></label> {{user.pwd}}
  </div>
  <div>
    <label><b>FirstName: </b></label> {{user.firstname}}
  </div>
  <div>
    <label><b>LastName: </b></label> {{user.lastname}}
  </div>
  <div>
    <label><b>Email: </b></label> {{user.email}}
  </div>
  <div>
    <label><b>Role: </b></label> {{user.role}}
  </div>  
</div>

<!-- <br>
<br>
<button (click)="()" class="btn btn-primary">Back to User List</button><br> -->